
defaultLocation: "Práce u zákazníka"

signUpForm:
    locationImage: "Obrázek provozovny"
    enter_location_name: "Prosím, zadejte název provozovny."
    enter_location_description: "Prosím, zadejte popis provozovny."
    passwordDescription: 'alespoň %d znaků'
    signUp: 'Zaregistrovat se'
    usernameTaken: 'Uživatelské jméno je již obsazeno.'
    role: "Role"
    username: "Vyberte uživatelské jméno:"
    email: "Váš email:"
    password: "Vytvořte heslo:"
    image: "Obrázek"
    description: "Popis"
    locationName: "Název provozovny"
    locationDescription: "Popis provozovny"
    location: "Provozovna"
    select_location: "Vyberte provozovnu"
    submit: "Zaregistrovat se"
    enter_username: "Zadejte uživatelské jméno."
    enter_email: "Zadejte email."
    enter_password: "Zadejte heslo."
    chiefDescription: "Registrace šéfa provozovny"
    adminDescription: "Registrace administrátora"
    workerDescription: "Registrace pracovníka"
    clientDescription: "Registrace klienta"
    title: "Registrace"
    phone: "Vaše telefonní číslo:"
    enter_phone: "Prosím, zadejte telefonní číslo."

general:
    protection: 'Prosím znovu odeslat formulář (vypršela platnost ochrany).'


roles:
    client: "Klient"
    worker: "Pracovník"
    chief: "Šéf"
    administrator: "Administrátor"

homepage:
    title: "Můj čas pro tebe"
    description: "Tento projekt slouží k usnadnění správy a rezervací schůzek pro maséry."
    signInTitle: "Přihlášení"
    loggedInAs: "Jste přihlášen jako"
    clientRegistration: "Registrace klienta"
    clientDescription: "Registrace vám umožní rezervovat schůzky."
    workerRegistration: "Registrace pracovníka"
    workerDescription: "Registrace vám umožní spravovat své pracovní časy."
    chiefRegistration: "Registrace šéfa provozovny"
    chiefDescription: "Registrace vám umožní spravovat provozovnu."
    adminRegistration: "Registrace administrátora"
    adminDescription: "Registrace vám umožní spravovat celý systém."
    logout: "Odhlásit se"

signInForm:
    email: "Emailová adresa"
    password: "Heslo"
    remember: "Zapamatovat si mě"
    signIn: "Přihlásit se"
    incorrect: "Neplatné přihlašovací údaje, zkuste to znovu."

WorkerCalendarPresenter:
    title: "Kalendář pracovníka"
    from: "od"
    to: "do"
    month:
        august: "srpen"

WorkerCalendarLatte:
    week: "Týden"
    time_slots_for: "Časové úseky pro"

days:
        mo: "Po"
        tu: "Út"
        we: "St"
        th: "Čt"
        fr: "Pá"
        sa: "So"
        su: "Ne"

calendar:
    header:
      main: "Kalendář pro %s - %s"
      dates: "od %s do %s"
    
dayModel:
    dayOfWeek:
        monday: "Pondělí"
        tuesday: "Úterý"
        wednesday: "Středa"
        thursday: "Čtvrtek"
        friday: "Pátek"
        saturday: "Sobota"
        sunday: "Neděle"
    month:
        january: "Leden"
        february: "Únor"
        march: "Březen"
        april: "Duben"
        may: "Květen"
        june: "Červen"
        july: "Červenec"
        august: "Srpen"
        september: "Září"
        october: "Říjen"
        november: "Listopad"
        december: "Prosinec"

    week: "Týden"
    day:
      mo: "Po"
      tu: "Út"
      we: "St"
      th: "Čt"
      fr: "Pá"
      sa: "So"
      su: "Ne"    