
defaultLocation: "Work at Customer's Location"

signUpForm:
    locationImage: "Location Image"
    enter_location_name: "Please enter the location name."
    enter_location_description: "Please enter the location description."
    passwordDescription: 'at least %d characters'
    signUp: 'Sign up'
    usernameTaken: 'Username is already taken.'
    role: "Role"
    username: "Select a username:"
    email: "Your email:"
    password: "Create a password:"
    image: "Image"
    description: "Description"
    locationName: "Location Name"
    locationDescription: "Location Description"
    location: "Location"
    select_location: "Select location"
    submit: "Sign Up"
    enter_username: "Please enter a username."
    enter_email: "Please enter an email."
    enter_password: "Please enter a password."    
    chiefDescription: "Chief Registration"
    adminDescription: "Admin Registration"
    workerDescription: "Worker Registration"
    clientDescription: "Client Registration"
    title: "Sign Up"
    phone: "Your phone number:"
    enter_phone: "Please enter a phone number."

general:
    protection: 'Please submit the form again (the security protection expired).'


roles:
    client: "Client"
    worker: "Worker"
    chief: "Chief"
    administrator: "Administrator"

homepage:
    title: "My Time for You"
    description: "This project helps manage and book appointments for massage therapists."
    signInTitle: "Sign In"
    loggedInAs: "You are logged in as"
    clientRegistration: "Client Registration"
    clientDescription: "Register to be able to book appointments."
    workerRegistration: "Worker Registration"
    workerDescription: "Register to manage your work hours."
    chiefRegistration: "Chief Registration"
    chiefDescription: "Register to manage your location."
    adminRegistration: "Admin Registration"
    adminDescription: "Register to manage the entire system."
    logout: "Log Out"

signinForm:
        email: "E-mail"
        password: "Password"
        remember: "Remember me"
        signIn: "Sign In"
        incorrect: "Incorrect e-mail or password."

WorkerCalendarPresenter:
    title: "Worker Calendar"
    from: "from"
    to: "to"
    month:
        august: "August"

WorkerCalendarLatte:
    week: "Week"
    time_slots_for: "Time Slots for"
days:
        mo: "Mo"
        tu: "Tu"
        we: "We"
        th: "Th"
        fr: "Fr"
        sa: "Sa"
        su: "Su"

