services:
    - App\Model\UserFacade
    - App\Forms\FormFactory
    - App\Forms\SignInFormFactory
    - App\Router\RouterFactory::createRouter
    - App\Module\Common\Security\SimpleAuthenticator
    - App\Model\RoleModel
    - App\Model\LocationModel
    - App\Model\AdminModel
    - App\Model\WorkerModel
    - App\Model\ClientModel
    - App\Model\ChiefModel
    - App\Model\UserModel
    - App\Forms\ClientSignUpFormFactory
    - App\Forms\WorkerSignUpFormFactory
    - App\Forms\ChiefSignUpFormFactory
    - App\Forms\AdminSignUpFormFactory
    - App\Forms\AddLocationFormFactory
    - App\Model\TimeSlotModel
    - App\Model\YearModel
    - App\Model\MonthModel
    - App\Model\WeekModel
    - App\Model\DayModel
    - App\Model\OrderModel
    - App\Model\StatusModel
    - App\Service\CalendarDataService
    - App\Service\RawWorkerCalendar
    - App\Service\StatusCalendar
    - App\Module\Worker\Control\ISlotControlFactory
    - App\Module\Worker\Control\SlotControl